---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import ExperienceElement from "../components/ExperienceElement.astro"
import Skills from "../components/Skills.astro"
import HobbieCard from "../components/HobbieCard.astro"
import RightArrow from "../components/RightArrow.astro"

import { landingPageDescription, landingPageTitle, hobbies } from "../data"

const experiences = await getCollection("work")
---

<Layout title="Desarrollador Web Full-stack">
	<main>
		<!-- HOME HERO -->
		<section class="min-h-screen relative bg-blurry bg-cover pb-24" id="home-hero">
			<div class="flex flex-col pt-[280px] justify-center items-center gap-14 max-w-5xl mx-auto text-center">
				<h1 class="font-bold max-md:px-8 text-4xl sm:text-5xl md:text-7xl text-black-100">
					{landingPageTitle}
				</h1>
				<p class="text-lg sm:text-2xl px-4 text-black-200">
					{landingPageDescription}
				</p>
				<div class="flex gap-7 justify-center items-center">
					<a
						href="#experience"
						class="text-lg sm:text-xl px-7 py-5 font-medium bg-primary text-white rounded transition hover:-translate-y-2 hover:shadow-2xl hover:shadow-primary"
						>Experience</a
					>
					<a
						href="/projects"
						class="text-lg sm:text-xl px-7 py-5 font-medium bg-secondary text-white rounded transition hover:-translate-y-2 hover:shadow-2xl hover:shadow-secondary"
						>Projects</a
					>
				</div>
			</div>
			<div class="absolute bottom-4 w-full flex justify-center">
				<a aria-hidden="true" href="/#about" class="text-black hover:text-primary animate-bounce">
					<RightArrow className="rotate-90 w-8" />
				</a>
			</div>
			<span class="absolute inset-x-0 bg-primary h-5 z-10 -bottom-5"></span>
		</section>

		<!-- ABOUT -->
		<section class="relative min-h-[200px] pt-5" id="about">
			<div class="mx-6 md:mx-12 xl:mx-auto flex flex-col gap-20 mt-32 max-w-7xl">
				<h2 class="font-bold text-4xl sm:text-5xl text-center text-black-100">About Me</h2>
				<div class="grid grid-cols-1 xl:grid-cols-2 gap-14">
					<div class="flex flex-col gap-4 leading-9 text-lg text-black-200 text-left">
						<p>
							Hello, I'm David Pérez, a professional <b>Full-stack Web Developer</b> passionte for crafting innovative and
							user-centric digital solutions. With +2 years of experience, I have honed my skills in both <b
								>front-end</b
							>
							and <b>back-end</b> development, utilizing a wide range of technologies and frameworks.
						</p>
						<p>
							From conceptualization to deployment, I thrive in creating responsive, scalable, and visually appealing
							web applications. Proficient in languages such as <b>HTML, CSS, Typescript</b>, and have expertise in
							frameworks like <b>React and NextJS</b>.
						</p>
						<p>
							A strong understanding of database systems and server-side technologies allows me to build robust and
							efficient back-end architectures. Whether it's crafting seamless user experiences or solving complex
							technical <b>challenges</b>.
						</p>
						<a
							href="/contact"
							class="max-xl:self-center mt-4 bg-primary px-12 py-3 text-white font-medium rounded transition-colors hover:bg-primary-600 w-fit"
							>Contact</a
						>
					</div>
					<Skills />
				</div>
			</div>
		</section>

		<!-- EXPERIENCE -->
		<section class="border-t-[20px] border-t-primary mt-36" id="experience">
			<div class="bg-black py-24 border-b-[20px] border-b-primary">
				<div class="text-center max-sm:mx-4">
					<h3 class="text-4xl md:text-5xl font-bold text-white">Career Highlights</h3>
					<p class="max-md:max-w-md text-lg md:text-xl text-zinc-200 mt-10 max-w-4xl mx-auto leading-8">
						Dive into the details of my past engagements, projects, and roles to get a comprehensive understanding of my <span
							class="text-secondary-600 font-medium">professional background</span
						> and track record.
					</p>
				</div>
			</div>
			<div class="bg-plane bg-cover bg-repeat pb-36 pt-20 min-h-screen mx-12 sm:mx-16 xl:mx-auto">
				<div class="flex flex-col mx-auto max-w-7xl">
					{experiences.map(work => <ExperienceElement entry={work} />)}
				</div>
				<div class="flex flex-col items-center gap-10 text-center mt-16">
					<h4 class="font-bold text-3xl sm:text-4xl text-black-100">Ready for more?</h4>
					<p class="text-lg text-black-200 max-w-4xl">
						Discover my latest projects and innovations, showcasing my passion for pushing boundaries and embracing
						creativity.
					</p>

					<a
						href="/projects"
						class="bg-primary px-8 sm:px-16 py-4 font-medium text-white text-lg rounded transition hover:shadow-2xl hover:shadow-primary"
					>
						Let's go</a
					>
				</div>
			</div>
		</section>

		<!-- EXTRAS -->
		<section class="border-y-[20px] border-y-primary py-36" id="extras">
			<div class="mx-12 xl:mx-auto">
				<div class="text-center max-sm:mx-4">
					<h3 class="text-4xl md:text-5xl font-bold text-black-100">Extras</h3>
					<p class="max-md:max-w-md text-lg md:text-xl text-black-200 mt-10 max-w-4xl leading-8 mx-auto text-center">
						Beyond my professional endeavors, I am a passionate adventurer who thrives on exploring new horizons in
						other aspects of my life.
					</p>
				</div>
				<div class="mt-16 grid grid-cols-1 xl:grid-cols-3 gap-10 justify-center max-w-lg xl:max-w-6xl mx-auto">
					{hobbies.map(h => <HobbieCard title={h.title} description={h.description} link={h.link} />)}
				</div>
			</div>
		</section>
	</main>
</Layout>
